* {
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,1);
}

main {
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    flex-wrap: wrap;
}

section.scroll-view {
    overflow-x: auto;
    height: 11rem;
    width: 25rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 2rem 0rem 1rem 0rem;
    background-color: rgba(0, 255, 230,1);
    p, h3 {
            margin: 1rem 0rem 0rem 0rem;
        }
}

section.scroll-view {
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem;
    color: rgba(0,0,0,0.5);
    border-radius: 1rem;
}

*::-webkit-scrollbar {
    background-color: transparent;
}